.dataBackground {
    --hdr-gradient: linear-gradient(
            118deg in oklab,
            oklch(80% 0.3 178) 0%, oklch(80% 0.30 39) 73% 73%, oklch(80% 0.33 25) 97% 97%
    );
    --sdr-gradient: linear-gradient(118deg, #00f5be 0%, #ff4f00 73% 73%, #ff003c 97% 97%);

    background: var(--hdr-gradient);

    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main {
    text-align: center;
}

.encryptionBox {
    /*position: absolute;*/
    /*left: 0;*/
}

.dataItem {
    font-size: 50px;
    list-style: none;
    background-color: rgba(255, 0, 0, 0.32);
    border-radius: 15px;
    margin: 20px;
    position: relative;

}

.dataButton {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 60%;*/
    /*transform: translate(-50%, -50%);*/
    height: 50px;
    width: 100px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    opacity: 0.4;
}

.deleteButton {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 90%;*/
    /*transform: translate(-50%, -50%);*/
    height: 50px;
    width: 100px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    opacity: 0.4;
}

.dataButton:hover {
    opacity: 1;
}

.deleteButton:hover {
    opacity: 1;
}

form {
    padding-top: 20px;
}

textarea {
    width: 80vw;
    max-width: 500px;
    height: 50px;
    margin: 5px 0;
    position: relative;
    box-sizing: border-box;
}

button {
    width: 90px;
    height: 30px;
    font-size: 20px;
}

details[open] > summary {
    display: none;
}

.mainFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}
.padding {
    padding: 40px;
}

.error {
    color: #880000;
}


.keyBox {
    max-height: 30px;
    margin: 10px
}


.fileInput {
    font-size: 20px;
    cursor: pointer;
}